<h3>Welcome to my site, <%= nama %>
</h3>

<h4>Daftar mahasiswa</h4>
<% if (mahasiswa.length < 1) { %>
    <p>Data masih kosong</p>
    <% } else {%>
        <% mahasiswa.forEach(mhs=> { %>
            <ul>
                <li>Nama: <%= mhs.nama %>
                </li>
                <li>Email: <%= mhs.email %>
                </li>
            </ul>
            <% }) %>
                <% } %>